

.whitePanel {
}

    .whitePanel p {
        padding: 0.1em 1em;
        text-indent: 0.5em;
        text-align: justify;
    }

    .whitePanel h5 {
        margin: 0.5em 0em;
        color: #1A7505;
        font-size: 1.2em;
        border-bottom: 1px solid #1A7505;
        padding-left: 1em;
    }

    .whitePanel h6 {
        margin: 0.5em 0em;
        padding-left: 1.5em;
        font-size: 1.1em;
        font-weight: bold;
        text-decoration: underline;
        font-size: 1em;
    }

    .whitePanel p.citation {
        text-indent: 0em;
        text-align: center;
        font-weight: bold;
        margin: 1em 4em;
        padding: 1em;
        border-left: 5px solid #1A7505;
        background-color: #ACCAA7;
    }

    .whitePanel p.signature {
        text-indent: 1em;
        text-align: end;
        font-weight: bold;
    }

    .whitePanel ul:not([class]),
    .whitePanel ol:not([class]) {
        margin-left: 4em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        border-left: 2em solid #ACCAA7;
    }

        .whitePanel ol:not([class]) > li {
            list-style: decimal;
        }

        .whitePanel ul:not([class]) > li {
            list-style: disc;
        }
        
    .whitePanel ol:not([class]) > li,
    .whitePanel ul:not([class]) > li {
        padding: .2em;
        display: list-item;
    }
