
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(172, 202, 167);
    font-family: Verdana, Arial;
    font-size: 13px;
    height: 100%;
    width: 100%;
    margin: 0px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    *:not(input,textarea) {
        -webkit-touch-callout: none;
        /*attention: ces deux lignes peuvent provoquer une impossibilité d'écrire dans les TextArea de Safari*/
        -webkit-user-select: none;
        -khtml-user-select: none;
        /**/
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

li {
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;
    display: inline-block;
}

span, p, h1, h2, h3, h4, h5, h6, h7, li, ul, ol, dl, dd, dt, table, td, tr, th, tbody, thead, tfoot {
    margin: 0em;
    padding: 0em;
}

td {
    vertical-align: top;
}

textarea {
    resize: none;
}

a {
    cursor: pointer;
    color: #1200FF;
}

    a:hover {
        background-color: #ACCAA7;
    }

body > header {
    display: block;
    padding-left: 4em;
    margin: auto;
    max-width: 60em;
}

body > nav {
    display: block;
    background-color: ivory;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

    body > nav > ul {
        text-align: center;
    }

        body > nav > ul > li {
            display: inline-block;
        }

            body > nav > ul > li > a {
                display: inline-block;
                margin: 0.2em 0.5em;
                border: 1px solid #ACCAA7;
                padding: 0.5em;
                border-radius: 0.5em;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.1em;
                color: #1A7505;
            }

                body > nav > ul > li > a:hover {
                    background-color: #ACCAA7;
                    text-decoration: none;
                }

h1 {
}

h2 {
    color: #1A7505;
}

h3 {
    text-align: center;
    background-color: #1A7505;
    padding: 0.5em;
    color: white;
}

.Main > details > summary,
h4 {
    text-align: center;
    color: #1A7505;
    border: solid 1px #1A7505;
    background-color: ivory;
    padding: 0.5em;
    border-radius: 1em;
    clear: both;
    font-weight: bold;
}

   h5 {
        margin: 0.5em 0em;
        color: #1A7505;
        font-size: 1.2em;
    border-bottom: 2px solid #1A7505;
        padding-left: 1em;
        text-align: center;
    }
img {
    vertical-align: middle;
}

fieldset {
    border: 1px solid #1A7505;
    border-radius: 1em;
}

.inlines {
    display: block;
    text-align: center;
}

    .inlines > * {
        display: inline-block;
        text-align: left;
    }

fieldset > legend {
    color: #1A7505;
    font-weight: bold;
    font-size: 1.05em;
}

details {
    display: block;
}

summary {
    display: block;
}

.Main {
    display: block;
    padding: 0em 0.5em;
    margin: auto;
    max-width: 61em;
}
.nobr{
    white-space:nowrap;
}
.stack > * {
    display: block;
}

.center {
    width: auto;
    margin: auto;
}

.textcenter {
    text-align:center;
}
.fullwidth {
    width: 100%;
}

.block {
    display: block;
}

.whitePanel {
    display: block;
    width: 100%;
    border: 1px solid green;
    background-color: ivory;
    margin: 0.5em 0em;
    padding: 0.5em;
    border-radius: 1em;
}

    .whitePanel:after {
        content: " ";
        display: table;
        clear: both;
    }

    .whitePanel p {
        padding: 0.1em 1em;
        text-indent: 0.5em;
        text-align: justify;
    }


    .whitePanel h6 {
        margin: 0.5em 0em;
        padding-left: 1.5em;
        font-size: 1.1em;
        font-weight: bold;
        text-decoration: underline;
        font-size: 1em;
    }


    .whitePanel .signature {
        text-indent: 1em;
        text-align: end;
        font-weight: bold;
    }

    .whitePanel .citation {
        text-indent: 0em;
        text-align: center;
        font-weight: bold;
        margin: 1em 4em;
        padding: 1em;
        border-left: 5px solid #1A7505;
        background-color: #ACCAA7;
    }

    .whitePanel .alert {
        text-indent: 0em;
        text-align: center;
        font-weight: bold;
        margin: 1em 4em;
        padding: 1em;
        border-left: 5px solid #1A7505;
        background-color: #ACCAA7;
    }

    .whitePanel ul.simpleList,
    .whitePanel ul:not([class]),
    .whitePanel ol:not([class]) {
        margin: 0.2em 2em;
        margin-bottom: 0.2em;
        border-left: 2em solid #ACCAA7;
    }

        .whitePanel ol:not([class]) > li {
            list-style: decimal;
        }

        .whitePanel ul:not([class]) > li {
            list-style: disc;
        }

        .whitePanel ol:not([class]) > li,
        .whitePanel ul:not([class]) > li {
            padding: .2em;
            display: list-item;
        }

        .whitePanel ul.simpleList > li {
            display: inline-block;
            padding: 0.2em;
        }

    .whitePanel table:not([class]) {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0em 0.4em;
    }

        .whitePanel table:not([class]) > thead,
        .whitePanel table:not([class]) > tfoot {
            display: none;
        }

        .whitePanel table:not([class]) > tbody > tr > * {
            padding: 0.1em 0.5em;
            border-top: 2px solid #ACCAA7;
            border-bottom: 2px solid #ACCAA7;
            border-left: 1px dotted #ACCAA7;
            vertical-align: middle;
        }

        .whitePanel table:not([class]) > tbody > tr > th {
            text-align: left;
        }
        
        .whitePanel table:not([class]) > tbody > tr > th:only-child {
            color: #1A7505;
            text-align: center;
            border-width: 0px;
            border-bottom: 2px solid #1A7505;
        }

            .whitePanel table:not([class]) > tbody > tr > th:only-child {
                text-align: center;
            }

        .whitePanel table:not([class]) > tbody > tr > *:first-child {
            border-left: 2em solid #ACCAA7;
        }

        .whitePanel table:not([class]) > tbody > tr > *:last-child {
            border-right: 2px solid #ACCAA7;
        }
        
.floatleft {
    float: left;
    margin: 0.2em;
}

.floatright {
    float: right;
    margin: 0.2em;
}

.tableproduits {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .tableproduits > thead {
        display: none;
    }

    .tableproduits > tbody {
        display: block;
        text-align: center;
    }

        .tableproduits > tbody > tr {
            display: inline-block;
            border: 1px solid green;
            background-color: ivory;
            margin: 0.5em;
            padding: 0.5em;
            border-radius: 1em;
        }

            .tableproduits > tbody > tr > * {
                display: block;
            }

                .tableproduits > tbody > tr > * > img {
                    width: 15em;
                }

            .tableproduits > tbody > tr > th {
                display: block;
                font-size: 1.2em;
                text-align: center;
            }


.blockProperties,
.fluidProperties {
    display: block;
}

    .fluidProperties > * {
        display: inline-block;
    }

    .blockProperties > * {
        display: block;
    }

    .blockProperties > *,
    .fluidProperties > * {
        margin: 0.2em 1em;
        padding: 0.2em;
        border: 1px solid #ACCAA7;
        border-left-width: 1em;
    }

    .blockProperties.stacked > * > *,
    .fluidProperties.stacked > * > * {
        display: block;
    }

.infosdetail {
    display: table;
    margin:auto;
    border-spacing: 0.2em;
}

    .infosdetail.block {
        display: table;
    }

    .infosdetail > * {
        display: table-row;
    }

        .infosdetail > * > * {
            display: table-cell;
            text-align: left;
            white-space: nowrap;
            vertical-align: middle;
        }

        .infosdetail > * > :first-child {
            text-align: right;
            font-weight: bold;
        }

.produitDetails {
    display: table;
    text-align: center;
    width: 100%;
}

    .produitDetails > * {
        display: table-cell;
        vertical-align: middle;
        width: 0.5em;
        height: 100%;
    }

    .produitDetails > :last-child {
        width: auto;
    }

    .produitDetails > :first-child > img {
        width: 15em;
    }

body > * {
    margin-bottom: 0.5em;
}

.Main > * {
    margin-bottom: 0.5em;
}
