{{# session.estAuthentifier}}
    <p class="whitePanel contentPanel center">
        Bienvenue {{session.compte.email}}
    </p>
{{/ session.estAuthentifier}}

{{# session.estAdministrateur}}
    <section class="whitePanel contentPanel">
        <h5>Tâche d'administration</h5>
        <ul class="simpleList">
            <li><a href="GestionCommandes.php">Gérer les commande</a></li>
        </ul>
    </section>
{{/ session.estAdministrateur}}