<p class="whitePanel">
    Vous pouvez consulter et modifier les informations de votre profil. <br />
    Nous nous engageons à ce que les informations que vous nous communiquer ne servent qu'as la bonne gestion de la ferme par exemple : établissement des factures, gestion des livraisons...
    <strong>En particulier, nous ne communiquons pas et ne communiquerons jamais d'informations sur votre compte a des fin d'analyse marketing de démarchage ou autre opération commercial.</strong>
</p>
<details>
    <summary>Statut du Compte : {{statut}}</summary>
    <form class="whitePanel" action="Connection.php" accept-charset="utf-8" enctype="multipart/form-data">

        <p>Votre statut actuel est : <b>{{statut}}</b></p>
        <p>Vous pouvez faire une demande de modification de statut :</p>
        <br />
        <div style="padding-left:2em;">
            <label><input checked="checked" type="radio" name="demande_statut" value="Panier" /> <u><b>Panier : </b></u></label>
            <p style="padding-left:2em;">
                Vous vous engagez chaque semaine à prendre notre "panier de la semaine", vous pouvez à tout moment rompre cet engagement, la rupture seras effective dès la semaine suivante.
            </p>
            <br />
            <label><input type="radio" name="demande_statut" value="LibreService" /> <u><b>Libre Service : </b></u></label>
            <p style="padding-left:2em;">
                Chaque semaine vous pouvez effectuer une commande entre le mercredi et le vendredi.
            </p>
            <br />
            <label><input type="radio" name="demande_statut" value="Premium" /> <u><b>Engagement Libre Service : </b></u></label>
            <p style="padding-left:2em;">
                Vous vous engagez chaque semaine à faire une commande d'un certain montant. En contre parti, les commandes vous sont ouverte dés le lundi jusqu'au vendredi.<br />
                <label><i>Montant de votre engagement : <input type="number" name="Engagement" min="0" step="1" value="10" /> €</i></label>
            </p>
        </div>
        <br />
        <input type="hidden" name="type" value="STATUT" />
        <input class="floatright" type="submit" value="Demander un changement de statut" />
    </form>
</details>

<details>
    <summary>Mot de passe : </summary>
    <form class="whitePanel" action="Connection.php" accept-charset="utf-8" enctype="multipart/form-data">
        <p>Vous pouvez modifier votre mot de passe</p>
        <ul class="infosdetail block">
            <li>
                <label for="motdepasse_actuel_modification">Votre mot de passe actuel : </label>
                <input id="motdepasse_actuel_modification" name="motdepasse" type="password" />
            </li>
            <li>
                <label for="motdepasse_nouveau_modification">Votre nouveau mot de passe : </label>
                <input id="motdepasse_nouveau_modification" name="motdepasse_nouveau" type="password" />
            </li>
            <li>
                <label for="motdepasse_nouveau_confirmation_modification">Votre nouveau mot de passe (confirmation) : </label>
                <input id="motdepasse_nouveau_confirmation_modification" name="motdepasse_nouveau_confirmation" type="password" />
            </li>
        </ul>
        <input type="hidden" name="type" value="ChangePassword" />
        <input class="floatright" type="submit" value="Modifier mon mot de passe" />
    </form>
</details>

<details>
    <summary>Facturation et livraison : </summary>

    <form class="whitePanel" action="Connection.php" accept-charset="utf-8" enctype="multipart/form-data">
        <p>Vous pouvez indiquez vos adresses de facturation et de livaison</p>
        <h5>Facturation</h5>
        <ul class="infosdetail block">
            <li>
                <label for="titre_facturation">Titre : </label>
                <input id="titre_facturation" name="titre_facturation" type="text" />
            </li>
            <li>
                <label for="prenom_facturation">Prénom : </label>
                <input id="prenom_facturation" name="prenom_facturation" type="text" />
            </li>
            <li>
                <label for="nom_facturation">Nom : </label>
                <input id="nom_facturation" name="nom_facturation" type="text" />
            </li>
            <li>
                <label for="adresse_A_facturation">Adresse : </label>
                <span class="stack">
                    <input id="adresse_A_facturation" name="adresse_A_facturation" type="text" />
                    <input id="adresse_B_facturation" name="adresse_B_facturation" type="text" />
                </span>
            </li>
            <li>
                <label for="codepostal_facturation">Code postal : </label>
                <input id="codepostal_facturation" name="codepostal_facturation" type="text" />
            </li>
            <li>
                <label for="ville_facturation">Ville : </label>
                <input id="ville_facturation" name="ville_facturation" type="text" />
            </li>
        </ul>
        <h5>Livraison</h5>
        <ul class="infosdetail block">
            <li>
                <label for="titre_livraison">Titre : </label>
                <input id="titre_livraison" name="titre_livraison" type="text" />
            </li>
            <li>
                <label for="prenom_livraison">Prénom : </label>
                <input id="prenom_livraison" name="prenom_livraison" type="text" />
            </li>
            <li>
                <label for="nom_livraison">Nom : </label>
                <input id="nom_livraison" name="nom_livraison" type="text" />
            </li>
            <li>
                <label for="adresse_A_livraison">Adresse : </label>
                <span class="stack">
                    <input id="adresse_A_livraison" name="adresse_A_livraison" type="text" />
                    <input id="adresse_B_livraison" name="adresse_B_livraison" type="text" />
                </span>
            </li>
            <li>
                <label for="codepostal_livraison">Code postal : </label>
                <input id="codepostal_livraison" name="codepostal_livraison" type="text" />
            </li>
            <li>
                <label for="ville_livraison">Ville : </label>
                <input id="ville_livraison" name="ville_livraison" type="text" />
            </li>
        </ul>
        <input type="hidden" name="type" value="ChangeAdresses" />
        <input class="floatright" type="submit" value="Modififier mes addresses" />
    </form>
</details>