<details>
    <summary>Créer un compte</summary>
    <form class="whitePanel center" action="Connection.php" accept-charset="utf-8" enctype="multipart/form-data">
        <p>{{ . }}</p>
        <ul class="infosdetail">
            <li>
                <label for="email_creation">Email :</label>
                <input id="email_creation" name="email" type="email" />
            </li>
            <li>
                <label for="motdepasse_creation">Mot de passe :</label>
                <input id="motdepasse_creation" name="motdepasse" type="password" />
            </li>
            <li>
                <label for="motdepasse_confirmation_creation">Mot de passe (confirmation) :</label>
                <input id="motdepasse_confirmation_creation" name="motdepasse_confirmation" type="password" />
            </li>
        </ul>
        <br /><br />
        <input type="hidden" id="type" name="type" value="CREATION" />
        <input type="submit" value="Créer mon compte" />
    </form>
</details>