{{# id_commande | session.peutModifierCommande}}
<span><input type="number"
             data-djalf="ElementCommande-quantite_commande"
             min="0"
             step="{{unite_step}}"
             max="{{stocks_previsionnel}}"
             data-decimals="{{unite_decimals}}"
             data-id_commande="{{id_commande}}"
             data-id_produit="{{id_produit}}"
             value="{{quantite_commande}}"
/></span>
{{/ id_commande | session.peutModifierCommande}}
{{^ id_commande | session.peutModifierCommande}}{{> ElementCommande-quantite_commande}}{{/ id_commande | session.peutModifierCommande}}
