<span><span data-djalf="ElementCommande-tva_total_element"
            data-id_commande="{{id_commande}}"
            data-id_produit="{{id_produit}}"
            data-decimals="2"
>{{tva_total_element}}</span> €</span>
