<span><span data-djalf="ElementCommande-prix_total_element_ht"
            data-id_commande="{{id_commande}}"
            data-id_produit="{{id_produit}}"
            data-decimals="2"
>{{prix_total_element_ht}}</span> €</span>
