{{# session.estAdministrateur}}
     <span><select data-djalf="Produit-unite" 
                   class="fitToParent"
                   data-id_produit="{{id_produit}}">
        {{# uniteOptions }}
            <option value="{{value}}"{{# selected}} selected="selected"{{/ selected}}>{{display}}</option>
        {{/ uniteOptions }}
    </select></span>
{{/ session.estAdministrateur}}
{{^ session.estAdministrateur}}
    {{> Produit-unite}}
{{/ session.estAdministrateur}}
