{{# .}}
    <h4>{{> Categorie-nom}} / {{> Produit-nom}}</h4>
    <section class="produitInfoPanel">
    <div class="whitePanel">
        <img src="imgs/produit.jpg" />
    </div>
    <div class="spacer">&nbsp;</div>
    <div class="whitePanel">
        <ul class="infosdetail">
            <li>
                <span>catégorie : </span>
                <span>{{> Categorie-nom}}</span>
            </li>
            <li>
                <span>produit : </span>
                {{> Produit-nom-mod}}
            </li>
            {{# id_commande | session.peutModifierCommande}}
                <li>
                    <span>unitée : </span>
                    {{> Produit-unite-mod}}
                </li>
                <li>
                    <span>stock : </span>
                    <span>{{> Produit-stocks_previsionnel}}</span>
                </li>
                <li>
                    <span>commande : </span>
                    {{> ElementCommande-quantite_commande-mod}}
                </li>
                <li>
                    <span>prix unitaire : </span>
                    {{> Produit-prix_unitaire_ttc-mod}}
                </li>
                <li>
                    <span>prix total : </span>
                    {{> ElementCommande-prix_total_element_ttc}}
                </li>
            {{/ id_commande | session.peutModifierCommande}}
        </ul>
    </div>
</section>
<section class="whitePanel">
    {{> Produit-description-mod}}
</section>
{{/ .}}
{{^ .}}
    <p class="whitePanel center">Ce produit n'éxiste pas.</p>
{{/ .}}