<form class="whitePanel center" action="Produits.php" accept-charset="utf-8" enctype="multipart/form-data">
    <input type="text" name="rechercheProduit" value="{{ . }}" />
    <input type="submit" value="Rechercher" />
</form>
